{% extends "base_generic.html" %}
{% block content %}
<div class="localib">
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p style="font-size:20px;">Please login to see this page.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div>
    <td>Username:</td>
    <td>{{ form.username }}</td>
    </div>
    <div style="margin-top:15px;">
    <td>Password:&nbsp;</td>
    <td>{{ form.password }}</td>
</div>
    <div>
<input class="submit-btn" type="submit" value="login" style="margin: 15px 125px 0 74px; padding: 0px 62px;
    font-size: 22px;"/>
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p style="margin:10px 0 0 74px;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}